nav ul {
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    flex-basis: auto;
}

nav a {
    padding: .5rem 1rem;
    text-align: center;
}

header, footer, nav, main {
    max-width: 75rem;
    margin: auto;
}

main figure.myphoto {
    width: 31%;
}

div.news {
    column-count: 3;
}