* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}

@media only screen and (max-width: 560px) {
    header h2 {
        display: none;
    }
}

/* Body Rules Here*/

body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}

/* Header Rules Here*/
div#header-wrapper {
    background-color: red;
}

header {
    padding: 1rem 2%;
}

header img {
    float: left;
    padding-right: 15px;
}

header h1 {
margin: 1.5rem 0 0 0;
font-weight: $heavyWeight;
}

header h2 {
margin: 0;
}

/* Nav Rules Here*/
div#nav-wrapper {
    background-color: black;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav li.active {
    background-color: #333;
}

nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: left;
    text-decoration: none;
    margin-left: 2%;
}

nav a:hover {
    background-color: #444;
}


main {
    padding: 1rem 2%;
    display: block;
}

main img {
    width: 100%;
}

main figure.myphoto {
    width: 100%;
    margin: 0 0 0 2%;
    float: right;
}

main figure.myphoto img {
    width: 100%;
}

main figure.myphoto figcaption {
 text-align: center;
 font-size: .75rem;   
}

div#footer-wrapper {
    background-color: red;
}

footer {
    text-align: center;
    padding: 1rem 2%;
}